@import "./base/_reset.scss";
@import "./base/_typo.scss";
@import "./utilities/_variables.scss";
@import "./layout/_header.scss";
@import "./layout/_main-index";
@import"./utilities/_mixins.scss";
@import "./layout/_footer.scss";
@import "./layout/_encabezado.scss";
@import "./layout/_nosotros.scss";
@import"./layout/_mediaQ-nosotros.scss";
@import "./layout/_productos.scss";
@import "./layout/_recetas.scss";
@import "./layout/_mediaQ-recetas.scss";
@import "./layout/_contacto.scss";
@import"./layout/_mediaQ-index.scss";


