.subtitulo-contacto{
    display: flex;
    justify-content: center;
    
    

    h2{
        font-size: 25px;
        font-weight: bold;
        color: $azulQuila;
        font-family: 'Work Sans', sans-serif;
        
    }
    
}

.contacto-redes {
   display: flex;
   justify-content: center;
   
    a svg{
    width: 60px;
    height: 60px;
    padding: 10px;
    color:rgb(18,62,88);
   }
    
 }
