header{   
       
    font-weight: bold;
    background-color: rgb(40, 88, 105);
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    

    #amarilloq:hover{
      scale: 1.1;
    }

  }

 
  // Hover a la nav 

 .nav-item:hover{
    scale: 1.2;
 }
 

 
 