.primer-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(174, 174, 98);  
    height: 90vh;
    
    background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.4),
       rgba(0,0,0,0.4)
    )  
   , url(../img/imagenn.jpg);
   background-size: cover; 
   h1{
      font-weight: bold;
   }
 }
 
 .segunda-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(174, 174, 98);  
    height: 90vh;
    
    background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.4),
       rgba(0,0,0,0.4)
    )  
   , url(../img/fondoq1.JPG);
   border-top: 7px black solid;
   border-bottom: 7px black solid;
   h1{
      font-weight: bold;
   }  
 }


 .boton-wsp svg {
    background-color: green;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 30px;
    position:fixed;
    color: white;
    border-radius: 50%;  
 }
 
 .boton-wsp svg:hover{
    background-color: $amarilloQuila;
 }

.colorf {
   background-color: $amarilloQuila ;
}