@media screen and (min-width: 300px) and (max-width: 575px) {
    .contenedor-nosotros{
       display: inherit;
    }
    .contenido-nosotros{
       display: flex;
       flex-direction: column; 
       padding: 5px;
       
 
       article{
          
          h1{
             font-size: 20px
          }
       }
       
    }
    .img-nosotros {
       padding-bottom: 5px;
       padding-left: 5px;
       padding-right: 5px;
       
       img {
         width: 100px;
         height: 100px;
          
       }
    }

    .encabezado{

      img{
         width: 15vh;
      }
      h1{
         font-size: 25px;
      }
    }
    
}

@media  screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor-nosotros{
       display: inherit;
    }
 
    .contenido-nosotros{
       display: flex;
       flex-direction: column; 
       padding: 5px;
       
 
       article{
          
          h1{
             font-size: 25px
          }
       }
       
    }
    .img-nosotros {
       padding-bottom: 5px;
       img{
          height: 30vh;
          width: 100%;
       }
    }
    .encabezado{

      img{
         width: 17vh;
      }
      h1{
         font-size: 27px;
      }
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .contenedor-nosotros{
       display: inherit;
    }
    .contenido-nosotros{
       display: flex;
       flex-direction: column; 
       padding: 5px;
       
 
       article{
          
          h1{
             font-size: 28px
          }
       }
       
    }
    .img-nosotros {
       padding-bottom: 5px;
       display: flex;
       justify-content: center;
       img{
          height: 40vh;
          width: 70%;
       }
    }

    .encabezado{

      img{
         width: 19vh;
      }
      h1{
         font-size: 29px;
      }
    }
} 

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .contenedor-nosotros{
       display: inherit;
    }
    .contenido-nosotros{
       display: flex;
       flex-direction: column; 
       padding: 5px;
       
 
       article{
          
          h1{
             font-size: 30px
          }
       }
       
    }
    .img-nosotros {
       padding-bottom: 5px;
       display: flex;
       justify-content: center;
       img{
          height: 50vh;
          width: 70%;
       }
    }
    .encabezado{

      img{
         width: 21vh;
      }
      h1{
         font-size: 34px;
      }
    }
} 


