.contenedor-nosotros{
   display: flex;
   align-content: baseline;


   .contenido-nosotros{
      display: flex;
      justify-content: baseline;
      align-items: center;
                          
            article{
                 width: 80%;  
                 background-color: $azulQuila; 
                 border-radius: 15%; 
                 padding: 40px;  
                 color: black;  
                 }         
                       
   }

   .img-nosotros{
      padding-right: 30px;
      display: flex;
      justify-content: end;
      
   
         img{     
         width: 60vh;
         height: 60vh;        
         }
   }

}