.contenedor-nosotros{
   display: flex;
   align-content: baseline;


   .contenido-nosotros{
      display: flex;
      justify-content: baseline;
      align-items: center;
                          
            article{
                 width: 80%;  
                 
                 padding: 40px;  
                 color: $azulQuila;  
                 
                 }
            h1{
               font-family: 'Work Sans', sans-serif;
            }         
                       
   }

   .img-nosotros{
      padding-right: 30px;
      display: flex;
      justify-content: end;
      
   
         img{     
         width: 60vh;
         height: 60vh; 
         box-shadow: -20px 20px rgb(224, 224, 199);       
         }
   }

}