#natural {
    height:335px ;
}

.subt-productos{
    display: flex;
    justify-content: center;
    align-content: end;
    padding-bottom: 200px;
    padding-top: 100px;
    


    h1{
        font-weight: bold;
        color:rgb(40, 88, 105);
        font-family: 'Work Sans', sans-serif;
    }
}



.card div  {
    background-color:beige;

    a {
        background-color: rgb(40, 88, 105);
    }
    h5 {
        font-weight: bold;
    }
}