.im-recetas {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 100px; 
    padding-top: 40px;
    
        div {   
            width: auto;
            height: auto; 
            transition: 1s; 
        }
             p {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
          }

          img{
            width: 300px;
            height: 300px;
            border-radius: 30px;           
         }
    }
 
 
 .im-recetas div:hover{
    border: 10px rgb(18,62,88) solid;
    border-radius: 30px;
    transform: scale(1.2) ;
    
 }
 
 
 .receta-uno {
   @include prop-grid (1/2, 1/2, center)
  
 }
 
 
 .receta-dos{
   @include prop-grid (2/3, 1/2, center)
   
 }
 
 
 .receta-tres{
   @include prop-grid (3/4, 1/2, center)

 }
 
 .receta-cuatro{
   @include prop-grid (1/2, 2/3, center)
   
 }
 
 .receta-cinco{
   @include prop-grid (2/3, 2/3, center)
    
 }
 
 .receta-seis{
   @include prop-grid (3/4, 2/3, center)
   
 }


 .subt-recetas {
   display: flex;
   justify-content: center;
   padding: 100px;
   
      h1{
         font-size: 35px;
         text-align: center; 
         font-weight: bold;  
         color: $azulQuila;   
         padding: 10px;  
         font-family: 'Work Sans', sans-serif;;
      }
 }
 
 .recetas-redes {
  display: flex;
  justify-content: center;
  
  
   a svg{
   width: 60px;
   height: 60px;
   padding: 10px;
   color:rgb(18,62,88);
  }
}

  .colorb{
    background-color: rgb(209, 209, 187);
   
}